/* Relevant minimal CSS - see article 
 * https://frontendmasters.com/blog/non-square-image-blur-extensions/ */
.wrap {
	display: grid /* 1 */;
	container-type: inline-size /* 2 */;
	aspect-ratio: 1 /* 3 */;
	background: var(--img) 50%/ cover /* 4 */;
	
	&::before, img { grid-area: 1/ 1 /* 5 */ }
	
	&::before {
		backdrop-filter: 
			blur(8px) brightness(.8) contrast(.7) /* 6 */;
		content: '' /* 7 */
	}
	
	img {
		--prc: 20% /* 8 */;
		--sgn: sign(1 - var(--img-r)) /* 9 */;
		--end: rgb(0 0 0/ calc(1 - abs(var(--sgn)))) /* 10 */;
		place-self: center /* 11 */;
		z-index: 1 /* 12 */;
		max-width: 100cqw /* 13 */;
		max-height: 100cqw /* 14 */;
		mask: 
			linear-gradient(calc((1 + var(--sgn))*45deg), 
					var(--end), 
					red var(--prc) calc(100% - var(--prc)), 
					var(--end)) /* 15 */
	}
}

/* Non-essential styles, just page layout & prettifying */
/* Firefox needs registering this for some reason */
@property --sgn {
	syntax: '<integer>';
	initial-value: 0;
	inherits: false
}

html, body { display: grid }

html {
	--s: .5em;
	box-sizing: border-box;
	padding: var(--s);
	height: 100%;
	container-type: size;
	color-scheme: light dark;
	background: 
		/* testing purposes *
		repeating-conic-gradient(
				lemonchiffon 0 25%, 
				midnightblue 0 50%) 
			50%/ 1em 1em /**/
		light-dark(#dedede, #212121)
}

body {
	--w: 100cqw;
	--u: 18em;
	/* test if I can fit 2 columns & a gap */
	--sgn: sign(100cqw - 2*var(--u) - var(--s));
	--n: round(up, .5*(var(--sgn) + 1) + 1);
	grid-gap: var(--s);
	grid-template-columns: 
		repeat(var(--n), min(100%, var(--u)));
	place-content: center;
	margin: 0;
	
	> * {
		/* don't use drop-shadow or it breaks the effect 
		 * on the last item in the grid in Firefox */
		/* just for testing purposes/ easy enable-disable *
		filter: drop-shadow(2px 2px 4px rgb(0 0 0/ .375));
		/* blur radius for box-shadow should be 2x
		 * for reference 
		 * https://bsky.app/profile/anatudor.bsky.social/post/3kcylmjmdc323 */
		box-shadow: 2px 2px 8px rgb(0 0 0/ .375) /**/
}